.col-lg-6.offset-md-3
  .container
    %h2.text-center Change Password
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: :'form-control', read_only: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password
        %i (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: :'form-control'
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            characters minimum
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: :'form-control'
      .field
        = f.label :current_password
        %i (we need your current password to confirm your changes)
        %br/
        = f.password_field :current_password, autocomplete: "current-password", class: :'form-control'
      .actions
        = f.submit "Update"