.col-lg-6.offset-md-3
  .container
    %h2.text-center Sign up
    = form_for(@user) do |f|
      = devise_error_messages!
      .field
        = f.label :email 
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",required: true, class: :'form-control'
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password",required: true, class: :'form-control'
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password",required: true, class: :'form-control'
      .field
        = f.hidden_field :role, :value => params[:role]
      .actions
        = f.submit "Sign up"
      = render "devise/shared/links"