.container
  %table.table.table-hover
    %thead
      %tr
        %th.font_color
          Sellers
        %th.font_color
          Email
        %th.font_color
          Status
        %th.font_color
          Products
        %th
        %th.font_color
          Actions
        %th
        %th
    %tbody
      - @sellers.each do |seller|
        %tr
          %td= seller.sname
          %td= seller.user.email
          %td
            - unless seller.approved?
              = link_to image_tag("approve.png", size:"30x30"), admin_path(seller: seller), method: :put
            - else
              approved
              
          %td= seller.products.count
          %td= link_to 'view', products_all_admin_path(seller: seller)
          %td
            - if seller.user.unblock?
              = link_to image_tag("unblock.png", size:"25x25"), block_user_admin_path(user: seller.user)
            - else
              = link_to image_tag("block.png", size:"25x25"),unblock_user_admin_path(user: seller.user)
          %td= link_to image_tag("vprofile.jpeg", size:"25x25"), seller_path(seller)
          %td= link_to image_tag("delete.png", size:"25x25"), user_registration_path(user: seller.user), method: :delete, data: { confirm: 'Are you sure?' }
  = will_paginate @sellers, class: :flickr_pagination