= form_with(model: @seller, local: true) do |form|
  = render 'shared/error', object: @seller
  %table.table.table-hover
    %tr
      %td 
        Name:
      %td
        = form.text_field :sname
    %tr
      %td
        Website:
      %td
        = form.url_field :website, value: "https://www."
    %tr
      %td 
        About me:
      %td
        = form.text_field :description
    %tr
      %td
        = form.submit "save"