.container
  %table.table.table-hover
    %tbody
      - @products.each do |product|
        - if product.seller.user.unblock?
          - product.images.limit(1).each do |form|
            .display.border.border-white
              .text-center
                = link_to home_path(product) do
                  = image_tag (form.image.thumb.url), class: :picture
                %br/
                = truncate(product.product_name, length: 20)
                %br/
                Price:
                ₹
                = product.price
  = will_paginate @products, class: :flickr_pagination