%table
  %tr
    %td
      %strong First Name:
    %td
      = @customer.first_name
  %tr
    %td
      %strong Last Name:
    %td
      = @customer.last_name
  %tr
    %td
      %strong Gender:
    %td
      = @customer.gender
  %tr
    %td
      %strong Date of Birth:
    %td
      = @customer.DOB
  %tr
    %td
      %strong Phone:
    %td
      = @customer.phone
  %tr
    %td
      %strong City:
    %td
      = @customer.city

= link_to 'Edit', edit_customer_path(@customer)
= link_to 'Back', customers_path
