.col-lg-6.offset-md-3
  .container
    %h2.text-center Log in
    = form_for(resource, as: resource_name, url:  user_session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",required: true , class: :'form-control'
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password",required: true , class: :'form-control'
      .actions
        = f.submit "Log in"
    = render "devise/shared/links"