= form_with(model: @product, url:seller_products_path, local: true) do |form|
  = render 'shared/error', object: @product
  %p 
    Product Name:
    %br/
    = form.text_field :product_name
  %p 
    Description:
    %br/
    = form.text_field :about
  %p 
    Price:
    %br/
    = form.text_field :price
  %p 
    Quantity:
    %br/
    = form.text_field :quantity
  %p
    Category:
    %br/
    = form.select(:category_id, @categories.collect {|p| [ p.category_name, p.id ] }, {prompt: 'Select Category for products'})
  %p
    = form.submit :Save
= link_to 'View Products', seller_products_path